{% extends "gjk/base.html" %}

{% block title %}
		{{ chart_disc }}
{% endblock %}


{% block content %}
	{% block desc %}
	<div ><h2 style="text-align:center;">{{ chart_disc }}</h2></div>
	{% endblock %}
	<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main1" style="width: 1500px;height:600px;"></div>
	
	
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
		
		
		
        var myChart = echarts.init(document.getElementById('main1'));
		
				// 指定图表的配置项和数据
		option = {
				title: {
					text: '一周各个栏目的文章发标书数量' //
				},
				tooltip: {
					trigger: 'axis'
				},
				legend: {
					data:['邮件营销','联盟广告','视频广告','直接访问','搜索引擎']
				},
				grid: {
					left: '10%',
					right: '10%',
					bottom: '10%',
					containLabel: false
				},
				toolbox: {
					feature: {
						saveAsImage: {}
					}
				},
				xAxis: {
					type: 'category',
					boundaryGap: false,
					data: ['周一','周二','周三','周四','周五','周六','周日']
				},
				yAxis: {
					type: 'value'
				},
				series: [
					{
						name:'邮件营销',
						type:'line',
						stack: '总量',
						data:[120, 132, 101, 134, 90, 230, 210]
					},
					{
						name:'联盟广告',
						type:'line',
						stack: '总量',
						data:[220, 182, 191, 234, 290, 330, 310]
					},
					{
						name:'视频广告',
						type:'line',
						stack: '总量',
						data:[150, 232, 201, 154, 190, 330, 410]
					},
					{
						name:'直接访问',
						type:'line',
						stack: '总量',
						data:[320, 332, 301, 334, 390, 330, 320]
					},
					{
						name:'搜索引擎',
						type:'line',
						stack: '总量',
						data:[820, 932, 901, 934, 1290, 1330, 1320]
					}
				]
		};


		$.ajax({
        url: "/gjk/data_json/",
        dataType : 'json',
        success: function(res){
            option.xAxis.data = res.xlables;
            option.legend.data = res.legend;
            option.series = res.data;
			option.title.text = "";
            myChart.setOption(option);
            myChart.hideLoading();
        },
        error : function(errorMsg) {
            //请求失败时执行该函数
            alert("图表请求数据失败!");
            myChart.showLoading();
        }
    })
        // 使用刚指定的配置项和数据显示图表。
 //       myChart.setOption(option);
    
	</script>
	
	
{% endblock %}